/*Home page*/
/*real home page*/
.home_page {
    max-width: 1112px;
    margin: 0 auto;
}
.home_page h1,.home_page .h1,.home_page h2,.home_page .h2,.home_page h3,.home_page .h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.home_page_grid {
    display: grid;
    grid-row-gap: 10px;
    grid-template-areas:
            'featured '
            'newProducts'
            'trending '
            'trendingItems '
;
    grid-template-rows: 378px;

}
@media(min-width: 910px)  {
    .home_page_grid{
        grid-template-areas: 'featured newProducts' 'trending trendingItems';
        grid-template-columns: 250px;
        grid-template-rows: 378px;
    }
}

.featured {
    grid-area: featured;
}

.trending {
    grid-area: trending;
}

.newProducts {
    grid-area: newProducts;
    display: grid;
    grid-template-rows: 55px 1fr;
}

.trendingItems {
    grid-area: trendingItems;
}

.featured,
.newProducts {
    /*box-shadow: black 10px 10px 10px;*/
}
/*!real home page*/

.container-1112{
    max-width: 1112px;
    margin: 0 auto;
}




section.featured {
    display: grid;
    grid-template-rows: 55px 1fr;
}
section.featured .flickity-viewport {
    height: 100% !important;
}
section.featured .featuredTitle{
    border-radius: 7px 7px 0 0;
    background-color: #d70a0a;
    display: flex;
    justify-content: space-between;
    padding: 15px 24px;
    font-family: 'Coda', cursive;
    font-size: 1em;
    align-items: center;
    color:  #ffffff;
    font-weight: 800;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
section.trending {
    background-color: #fff;
    min-height: 520px;

}
section.trending h2{
    font-family: Coda;
    color:  #ffffff;
    font-size: 20px;/* Approximation due to font substitution */
    font-weight: 800;
    text-align: left;
    height: 77px;
    background-color: rgb(43, 43, 43);
    display: flex;
    padding-left: 20px;
    align-items: center;
}
section.trending ul li{
    height: 57px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    border-bottom: 2px ghostwhite solid;
}
.newProducts{
    padding-top: 20px;
    font-family: 'Coda', cursive;
    height: 357px;
    box-sizing: content-box;
}
.newProductsTitle{
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-top-right-radius: 12px;
    height: 53px;
    padding-left: 25px;
    font-family: Coda;
    color:  #272727;
    font-size: 1.5em;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
}
.navgiateSlide span{
    font-size: 22pt;
    font-weight: bold;
}

/*!Home page*/
/*!item dragSlider*/
.itemsDragWrapper{
    height: 83%;
}
.itemDragSlider {
    padding-left: 25px;
    padding-top: 28px;
    background-color: rgb(243, 243, 243);
    height: 100% !important;
}
.itemDragSlider .flickity-viewport{
    height: inherit !important;
}
.itemDragSlider .frameItem {
    margin-right: 24px;
}

.itemDragSlider.dragItem > img {
    height: 155px;
}
.itemDragSlider .main-carousel{
    height: 100%;
}

/*item dragSlider*/
