@media only screen and (min-width: 1000px) and (max-width: 5000px) {
    body.kc-css-system .kc-css-239892 {
        width: 100%;
    }

    body.kc-css-system .kc-css-848757 {
        width: 50%;
    }

    body.kc-css-system .kc-css-949724 {
        width: 50%;
    }

    body.kc-css-system .kc-css-726227 {
        width: 50%;
    }

    body.kc-css-system .kc-css-366075 {
        width: 50%;
    }

    body.kc-css-system .kc-css-500708 {
        width: 50%;
    }

    body.kc-css-system .kc-css-429683 {
        width: 50%;
    }
}

body.kc-css-system .kc-css-582254.kc_title,
body.kc-css-system .kc-css-582254 .kc_title,
body.kc-css-system .kc-css-582254 .kc_title a.kc_title_link {
    color: #000000;
    font-family: Exo 2;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

body.kc-css-system .kc-css-448446 .divider_inner {
    border-color: #bf0d0d;
    border-style: solid;
    width: 50px;
    border-width: 4px;
}

body.kc-css-system .kc-css-448446 {
    margin-top: 0;
    margin-bottom: 18px;
}

body.kc-css-system .kc-css-779247,
body.kc-css-system .kc-css-779247 p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
}

body.kc-css-system .kc-css-779247 p {
    margin-bottom: 0;
}

body.kc-css-system .kc-css-197227 {
    height: 80px;
}

body.kc-css-system .kc-css-979187.kc_title,
body.kc-css-system .kc-css-979187 .kc_title,
body.kc-css-system .kc-css-979187 .kc_title a.kc_title_link {
    color: #000000;
    font-family: Exo 2;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

body.kc-css-system .kc-css-427451 .divider_inner {
    border-color: #bf0d0d;
    border-style: solid;
    width: 50px;
    border-width: 4px;
}

body.kc-css-system .kc-css-427451 {
    margin-top: 0;
    margin-bottom: 18px;
}

body.kc-css-system .kc-css-619783,
body.kc-css-system .kc-css-619783 p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
}

body.kc-css-system .kc-css-619783 p {
    margin-bottom: 0;
}

body.kc-css-system .kc-css-274792 {
    padding-top: 40px;
    padding-bottom: 0;
}

body.kc-css-system .kc-css-711636.kc_title,
body.kc-css-system .kc-css-711636 .kc_title,
body.kc-css-system .kc-css-711636 .kc_title a.kc_title_link {
    color: #000000;
    font-family: Exo 2;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

body.kc-css-system .kc-css-171864 .divider_inner {
    border-color: #bf0d0d;
    border-style: solid;
    width: 50px;
    border-width: 4px;
}

body.kc-css-system .kc-css-171864 {
    margin-top: 0;
    margin-bottom: 18px;
}

body.kc-css-system .kc-css-928399,
body.kc-css-system .kc-css-928399 p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
}

body.kc-css-system .kc-css-928399 p {
    margin-bottom: 0;
}

body.kc-css-system .kc-css-172671.kc_title,
body.kc-css-system .kc-css-172671 .kc_title,
body.kc-css-system .kc-css-172671 .kc_title a.kc_title_link {
    color: #000000;
    font-family: Exo 2;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

body.kc-css-system .kc-css-696246 .divider_inner {
    border-color: #bf0d0d;
    border-style: solid;
    width: 50px;
    border-width: 4px;
}

body.kc-css-system .kc-css-696246 {
    margin-top: 0;
    margin-bottom: 18px;
}

body.kc-css-system .kc-css-241548,
body.kc-css-system .kc-css-241548 p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
}

body.kc-css-system .kc-css-241548 p {
    margin-bottom: 0;
}

body.kc-css-system .kc-css-933099 {
    height: 100px;
}

body.kc-css-system .kc-css-277214 {
    background: transparent url(http://demo3.wpopal.com/exgym/wp-content/uploads/2014/06/about_us3.jpg) center center/cover no-repeat fixed;
    padding-top: 80px;
    padding-bottom: 80px;
}

body.kc-css-system .kc-css-46290 h4 {
    color: #ffffff;
}

body.kc-css-system .kc-css-46290 .counterup {
    color: #ffffff;
}

body.kc-css-system .kc-css-297479 h4 {
    color: #ffffff;
}

body.kc-css-system .kc-css-297479 .counterup {
    color: #ffffff;
}

body.kc-css-system .kc-css-654995 h4 {
    color: #ffffff;
}

body.kc-css-system .kc-css-654995 .counterup {
    color: #ffffff;
}

body.kc-css-system .kc-css-171454 h4 {
    color: #ffffff;
}

body.kc-css-system .kc-css-171454 .counterup {
    color: #ffffff;
}

body.kc-css-system .kc-css-605558 {
    height: 100px;
}

body.kc-css-system .kc-css-499737.kc_title,
body.kc-css-system .kc-css-499737 .kc_title,
body.kc-css-system .kc-css-499737 .kc_title a.kc_title_link {
    color: #000000;
    font-family: Exo 2;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

body.kc-css-system .kc-css-581060 .divider_inner {
    border-color: #bf0d0d;
    border-style: solid;
    width: 50px;
    border-width: 4px;
}

body.kc-css-system .kc-css-581060 {
    margin-top: 0;
    margin-bottom: 18px;
}

body.kc-css-system .kc-css-317751,
body.kc-css-system .kc-css-317751 p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
}

body.kc-css-system .kc-css-317751 p {
    margin-bottom: 0;
}

body.kc-css-system .kc-css-160890.kc_title,
body.kc-css-system .kc-css-160890 .kc_title,
body.kc-css-system .kc-css-160890 .kc_title a.kc_title_link {
    color: #000000;
    font-family: Exo 2;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

body.kc-css-system .kc-css-277038 .divider_inner {
    border-color: #bf0d0d;
    border-style: solid;
    width: 50px;
    border-width: 4px;
}

body.kc-css-system .kc-css-277038 {
    margin-top: 0;
    margin-bottom: 18px;
}

body.kc-css-system .kc-css-985123 {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    text-transform: capitalize;
    line-height: 36px;
}

body.kc-css-system .kc-css-573623 {
    height: 30px;
}

@media only screen and (max-width: 1024px) {
    body.kc-css-system .kc-css-779247,
    body.kc-css-system .kc-css-779247 p {
        font-size: 14px;
    }

    body.kc-css-system .kc-css-619783,
    body.kc-css-system .kc-css-619783 p {
        font-size: 14px;
    }

    body.kc-css-system .kc-css-928399,
    body.kc-css-system .kc-css-928399 p {
        font-size: 14px;
    }

    body.kc-css-system .kc-css-241548,
    body.kc-css-system .kc-css-241548 p {
        font-size: 14px;
    }

    body.kc-css-system .kc-css-317751,
    body.kc-css-system .kc-css-317751 p {
        font-size: 14px;
    }

    body.kc-css-system .kc-css-985123 {
        font-size: 14px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 999px) {
    body.kc-css-system .kc-css-239892 {
        width: 100%;
    }

    body.kc-css-system .kc-css-197227 {
        height: 40px;
    }

    body.kc-css-system .kc-css-848757 {
        display: none;
    }

    body.kc-css-system .kc-css-949724 {
        width: 100%;
    }

    body.kc-css-system .kc-css-933099 {
        height: 40px;
    }

    body.kc-css-system .kc-css-605558 {
        height: 40px;
    }

    body.kc-css-system .kc-css-500708 {
        width: 100%;
    }

    body.kc-css-system .kc-css-429683 {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    body.kc-css-system .kc-css-779247,
    body.kc-css-system .kc-css-779247 p {
        font-size: 15px;
        line-height: 24px;
    }

    body.kc-css-system .kc-css-619783,
    body.kc-css-system .kc-css-619783 p {
        font-size: 15px;
        line-height: 24px;
    }

    body.kc-css-system .kc-css-928399,
    body.kc-css-system .kc-css-928399 p {
        font-size: 15px;
        line-height: 24px;
    }

    body.kc-css-system .kc-css-366075 {
        margin-top: 40px;
    }

    body.kc-css-system .kc-css-241548,
    body.kc-css-system .kc-css-241548 p {
        font-size: 15px;
        line-height: 24px;
    }

    body.kc-css-system .kc-css-277214 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    body.kc-css-system .kc-css-315790 {
        margin-top: 20px;
    }

    body.kc-css-system .kc-css-533444 {
        margin-top: 20px;
    }

    body.kc-css-system .kc-css-691125 {
        margin-top: 20px;
    }

    body.kc-css-system .kc-css-317751,
    body.kc-css-system .kc-css-317751 p {
        font-size: 15px;
        line-height: 24px;
    }
}

