html, body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f3f3f4;
    color: #676a6c;
    height: 100%;
}

#artTitle {

}

.row {
    margin: inherit;
}

.box {
    border: 1px red dotted;
}

#sidebar {
    background-color: #2f4050;
    padding: 0;
    float: none;
    height: 100%;
}
#sidebar::-webkit-scrollbar {
    display: none;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.collpseableSide .badge {
    margin: 0 5px;
}
#sidebar .link > a ,#sidebar .link > span{
    margin: 0;
    padding: 20px 20px;
    text-decoration: none;
    color: #9fb1c2;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    width: 100%;

}
#sidebar .link .collapseSide li:first-of-type > a:first-child{
    padding: 0;
    background-color: red;
}
#sidebar .collpseableSide a,#sidebar .collpseableSide span{
    color: #9fb1c2;
    font-size: 12px;
    padding: 0 10px;
    text-decoration: none;
    display: inline-block;
}
#sidebar .collpseableSide a:hover,#sidebar .collpseableSide span:hover{
    color: #fff;
}
#sidebar .collpseableSide{
    border-left: 4px solid #1ab394;
    background-color: #293846;
}
#sidebar .link > ul > li{
    padding-bottom: 10px;
}
#sidebar a:hover,#sidebar span:hover {
    background-color: #293846;
    color: #fff;
}
#sidebar .active a,#sidebar .active{
    color: #fff;
    background-color: #293846;
}

#sidebar .fa{
    margin-right: 6px;
}
#sidebar h1 {
    color: #1f3647;
    text-align: center;
    margin: 10px 0;
    font-size: 25px;
}
#sidebar .settings-btn{
    background-color: #1ab394;
}
#sidebar .settings-btn a{
    background-color: #fff;
}
#sidebar .settings-btn a:hover{
    background-color: #1ab394;
}
#sidebar .collpseableSide li{
    padding-right: 20px;
    padding-top: 10px;
}

.notification{
    display: none;
}
.display-table {
    padding: 0;
    height: 100%;

}

.display-table-row {
    height: 100%;

}

.dtc{
    float: none;
    height: 100%;
}

.valign-top {
    vertical-align: top;
}

#nav-header {
    background-color: #fff;
    border-bottom: 1px solid #e7eaec;
}

#nav-header #headSearch {
    border: 0;
    outline: none;
    vertical-align: middle;
    padding: 10px;
    display: none;
}

#nav-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #676a6c;
}

#nav-header ul li {
    float: left;
    margin-left: 30px;
    padding: 17px 0;
}

#nav-header ul .fa {
    color: #676a6c;
}

.label-message {
    background-color: #1ab394;
}

#nav-header ul a {
    text-decoration: none;
}

#nav-header .logout {
    color: #676a6c;
}

#nav-header .logout:hover {
    color: #676a6c;

}

#nav-header #welcome {
    margin-right: 20px;
    display: none;
}
.navbar{
    background-color: #fff;
}
.navbar .navbar-toggler {
    border-color: #1ab394;
    background-color: #1ab394;
}
.navbar .navbar-toggler:hover {
    background-color: #1ab394;
}
.navbar .navbar-toggler:focus {
    background-color: #1ab394;
}
.navbar .navbar-toggler-icon{
    color: white;
}

.labelCount {

    position: absolute;
    top: 10px;
    right: -10px;
    border-radius: 50%;
}

#nav-header ul li.iconLabel {
    position: relative;
    margin-left: 25px;
}
.collpseableSide{
    display: none;
}
#admin-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    color: #676a6c;
    z-index: 99999;
}




.page_title {
    padding-right: 18px;
    margin: 20px 0;
    border-bottom: 1px solid #eee;
}
.content-inner {
    /*
    padding: 20px;
    */
}
.search-field{
    height: 31px;
    border: 1px #e7eaec solid;
}
.search-row{
    margin-bottom: 30px;
}
.btn-primary {
    background-color: #1ab394;
    border: 1px solid #1ab394;
}
.btn-primary:hover {
    background-color: #1cc394;
    border: 1px solid #1ab394;
}
.btn-primary:active {
    background-color: #1cc394;
    border: 1px solid #1ab394;
}
.go{
    height: 31px;
    background-color: #1ab394;
    color: #e7eaec !important;
    line-height: 0;
    padding: 15px;
}
.badge-success{
    background-color: #1ab394;
}
.somePage{
    margin: 20px 20px 0 20px;
    background-color: #fff;
    padding: 10px;
}
.overflow-content{
    overflow-y: scroll; max-height: 100%;


}
.overflow-content::-webkit-scrollbar {
    display: none;
}
/*settings*/
#settingsPage{
    background-color: #fff;
    margin: 20px 30px;
}
.settings-row{
    border-bottom: 1px #eee solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.settings-row h4{
    margin-bottom: 3px;
}
.settings-row p{
    color: #999;
}
@media (min-width: 480px) {
    .small-input{
        width: 80px;
    }
}
/*!settings*/

/*home*/
.admin-content-con{
    margin-top: 20px;
    background-color: white;
    border-top: 4px solid #e7eaec;
    padding: 15px;
}
.admin-content-con header{
    margin-bottom: 20px;
    border-bottom: 1px #eee solid;
    padding-bottom: 10px;
}
.admin-content-con h5{
    margin: 0;
    padding-top: 3px;
}
.text-link{
    color: #676a6c;
}
.text-link:hover{
    color: #007bff;
}
.commenter-name-dash{
    font-size: 13px;
    font-weight: bold;
}
.commenter-head-dash{
    margin-bottom: 6px;
}
.commenter-date-dash{
    color: #999;
}

.clearfix{
    clear: both;
}
/*!home*/
/*articles*/
#articlesPage {
    background-color: #fff;
    margin: 30px 0;
    padding: 10px;
}
@media (min-width: 810px) {
    #articlesPage {
        margin: 30px 20px;
        background-color: #fff;
    }
}

#articlesPage header {
    padding-top: 10px;
    padding-bottom: 20px;
}

/*
    .label-lg{
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }
    .label-sm{
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }
    .label-xs{
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }*/
.pagination::-webkit-scrollbar {
    display: none;
}
.pagination{
    overflow-x: scroll;
}
.pagination a{
    color: #1ab394;
}

.article-row p{
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
}
.status-padding{
    padding-top: 10px;
}
.article-title small{
    color: #bbb;
}
.frontImgFig{
    position: relative;
}
.frontImgUd{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
}
.editArtImg{
    position: absolute;
    right: 0;
    top: 0;
}


/*!articles*/

/*title page edit*/
.selectedList{
    display: grid;
    grid-template-rows: 1fr 100px;
}
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 1em 1.5em 1em 0.4em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
@media (max-width: 810px) {
    .grid-best-items li {
        height: 300px;
    }
}
@media (min-width: 810px) {
    .grid-best-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 1000px;

    }
    .grid-best-items li:first-child{
        grid-column: 1/3;
        grid-row: span 2;
        height: auto;
    }
}
/*best item*/

.bestTitles {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    height: 300px;
    list-style: none;
    padding: 0; }

.bestTitlesExpanded {
    height: 950px; }

.bestTitlesItem {
    margin: 0 3px;
    flex: 1;
    position: relative;
    display: flex;
    height: auto;
    transition: all 0.6s;
    cursor: pointer; }
.bestTitlesItem .topinfo {
    display: flex;
    flex-flow: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2%;
    /*    height: 13%;*/
    text-align: center;
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.9) 0, rgba(204, 204, 204, 0.5) 100%);
    font-size: 13pt;
    transition: all 0.6s; }
.bestTitlesItem .topinfo img {
    height: 100%;
    width: 30px; }
.bestTitlesItem .topinfo .socialShare {
    height: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    transition: all 0.6s; }
.bestTitlesItem .topinfo .socialShare div {
    height: 100%;
    flex: 1;
    flex-flow: column;
    margin: 0 0;
    z-index: 9; }
.bestTitlesItem .topinfo a {
    flex: 1; }
.bestTitlesItem:hover .topinfo {
    transition: all 0.6s;
    height: 18%;
    background: linear-gradient(to bottom, rgba(169, 3, 41, 0.9) 0, rgba(143, 2, 34, 0.9) 44%, rgba(109, 0, 25, 0.9) 100%); }
.bestTitlesItem .bottominfo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 44%;
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.9) 0, rgba(204, 204, 204, 0.5) 100%);
    align-self: flex-end;
    font-size: 100%;
    padding: 2px 10px;
    transition: all 0.6s;
    text-shadow: 0 1px 20px;
    position: absolute;
    bottom: 0; }
.bestTitlesItem .bottominfo .binfoTitle {
    flex: 50%;
    margin-top: 10px;
    max-height: 50%; }
.bestTitlesItem .bottominfo .bdate {
    flex: 20%; }
.bestTitlesItem:hover .bottominfo {
    transition: all 0.6s;
    height: 55%;
    background: linear-gradient(to bottom, rgba(169, 3, 41, 0.9) 0, rgba(143, 2, 34, 0.9) 44%, rgba(109, 0, 25, 0.9) 100%);
    color: white;
    text-shadow: 0 1px 13px; }
.bestTitlesItem > div > img {
    position: absolute;
    width: 100%;
    height: 100%; }
/*!best item*/
/*!title page edit*/
/*CMS REGISTRATION*/
#registerForm{
    display: grid;
//grid-auto-rows: 50px;
    grid-gap: 30px;
    grid-template-columns: repeat(12,1fr);
}
#registerForm>input{
    border-radius: 6px;
}
#registerForm input[type="submit"]{
    padding: 10px;
    align-self: center;
}
#registerForm .ft{
    display: grid;
    grid-auto-rows: 50px;
    grid-column-gap: 30px;
    grid-row-gap: 50px;

}#registerForm .ft>input{
     border-radius: 6px;

 }
.profileImgSec{
    min-height: 297px;
}
@media (max-width: 1200px) {
    .profileImgSec{
        min-height: 346px;
    }
}
/*custom file*/
.inputDnD .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    -webkit-box-shadow: 0 0 5px solid currentColor;
    box-shadow: 0 0 5px solid currentColor;
}
.inputDnD .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    height: 200px;
    line-height: 2em;
    padding-top: 1.5em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    border: 0.25em dashed currentColor;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}
.inputDnD .form-control-file:hover:before {
    border-style: solid;
    -webkit-box-shadow: inset 0 0 0 0.25em currentColor;
    box-shadow: inset 0 0 0 0.25em currentColor;
}
.warningsInput{
    min-height: 50px;
    border-radius: 6px;
}
/*!custom file*/
/*!CMS REGISTRATION*/

.g-col-2{
    grid-column: span 2;
}
.g-col-3{
    grid-column: span 3;
}
.g-col-6{
    grid-column: span 6;
}
.g-col-12{
    grid-column: span 12;
}
@media (min-width: 810px) {
    .grid-md-row{
        grid-template-columns: repeat(12,1fr);
    }
    .g-col-md-2{
        grid-column: span 2;
    }
    .g-col-md-3{
        grid-column: span 3;
    }
    .g-col-md-6{
        grid-column: span 6;
    }
    .g-col-md-12{
        grid-column: span 12;
    }
}
@media (min-width: 1200px) {
    .grid-lg-row{
        grid-template-columns: repeat(12,1fr);
    }
    .g-col-lg-2{
        grid-column: span 2;
    }
    .g-col-lg-3{
        grid-column: span 3;
    }
    .g-col-lg-4{
        grid-column: span 4;
    }
    .g-col-lg-5{
        grid-column: span 5;
    }
    .g-col-lg-6{
        grid-column: span 6;
    }
    .g-col-lg-7{
        grid-column: span 7;
    }
    .g-col-lg-12{
        grid-column: span 12;
    }
}
@media (max-height: 800px) {
    .somePage{
        margin: 10px 20px 0 20px;
        background-color: #fff;
        padding: 10px;
    }
    .overflow-content{
        overflow-y: scroll;


    }
}
@media (max-width: 800px) {
    .somePage{
        margin: 0;
        background-color: #fff;
        padding: 10px;
    }
}
.btn-default{
    color: #676a6c;
    border: 1px #eee solid;
}
@media (min-width: 810px) {
    .padding-20{
        padding: 20px;
    }
}
